/* Body */
body {
    background-color: black;
    font-family: Verdana, sans serif;
    font-weight: normal;
    text-align: center;
    color: white;
}

/* Header */
header h1 {
    font-size: 50px;
    font-weight: normal;
}

/* Download links */
a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

footer {
    text-align: right;
    color: gray;
}