/* Body */
body {
    background-color: black;
    font-family: Verdana, sans serif;
    font-weight: normal;
    text-align: center;
}

/* Header */
header h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
}

/* Download links */
a {
    color: aquamarine;
    font-size: 16px;
}